Repository developer-portal/content, pull requests merged in 2018-08, with the labels that each got.

#271 Update rebase-helper docs
  deployment/maintain/rebase-helper-integration.md
  deployment/maintain/rebase-helper.md
  deployment/maintain/static-analysis.md
Labels: Section: Deploy and Distribute, Status: In Progress

#273 Small updates in .net installation page
  tech/languages/csharp/dotnet-installation.md
Labels: Section: Language & Databases, Status: In Progress

#269 Update install guidelines
  tech/languages/nodejs/nodejs.md
Labels: Section: Language & Databases, Status: In Progress

#260 Add tech/database/Cassandra content
  tech/database/cassandra/about.md
Labels: Section: Language & Databases, Status: Help Needed

#241 Update rpm and copr-cli pages
  deployment/copr/copr-cli.md
  deployment/rpm/about.md
Labels: Status: Help Needed, Type: Update
